/* this file is: style.css */
.container {
	width: 1264px;
}

#grad {
  background: linear-gradient(to bottom right, aliceblue, cornflowerblue);
}
h1 {
	text-align: center;
	color: cornflowerblue;
	font-family: fantasy;
}

h2 {
	text-align: center;
	color:cornflowerblue;
	font-family: fantasy;
}
footer {
	position: fixed;

}

body {
	background-color:aliceblue;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px; 
}

.double:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.one {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px; 
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.avatar {
	vertical-align: text-top;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.product {
	transform: rotate(90deg);
	z-index: inherit;
	position: absolute;
}

.glass {
	transform: rotate(90deg);
	position: absolute;
	z-index: inherit;
}

.poster {
	column-width: 632px;
	top:auto;
	float:left;
	width: 30%; 
	margin-right: 1%; 
	margin-bottom: 0.5em;
}
#poster {
	position: relative;
	float:left
}

.sample {
	column-width: 632px;
	float:right;
	width: 30%; 
	margin-right: 15%; 
	margin-bottom: 0.5em;
	padding-left: 50px;
	padding-right: 50px;
}
#sample {
	position: relative;
}

.movie1 {
	float:left;
}

.movie2 {
	float:left;
}